# Godot 4+ specific ignores
.godot/
/android/
/addons/
/native/non_zero_tessellator/godot-cpp/
/native/non_zero_tessellator/.sconsign.dblite
/native/non_zero_tessellator/bin/*.exp
/native/non_zero_tessellator/bin/*.lib
