# Godot 4+ specific ignores
.godot/
/android/
/_exports/
/native/non_zero_tessellator/godot-cpp/
/native/non_zero_tessellator/.sconsign.dblite
/native/non_zero_tessellator/bin/*.exp
/native/non_zero_tessellator/bin/*.lib
/native/non_zero_tessellator/bin/~*.dll
/native/non_zero_tessellator/bin/~*.TMP
/native/non_zero_tessellator/src/*.o
*.tmp
